* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 50px;
  width: 100%;
  background-color: gray;
  position: fixed;
  z-index: 50;
  display: flex;
  align-items: center;
}

main {
  padding: 50px;
}

p {
  margin: 20px;
}

.burger-btn {
  width: 20px;
  height: 18px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;

}
.burger-btn::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 20px;
  top: 0;
  background-color: black;
}

.burger-btn span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  width: 20px;
  background-color: black;
}

.burger-btn::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 20px;
  bottom: 0;
  background-color: black;
}